* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    width: 90vw;
    background-color: grey;
    display: flex;
}

.panel{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    height: 80vh;
    margin: 5px;
}

.panel.active {
    flex: 5;
}
