

*{
    box-sizing: border-box;
}

body {
    background-color: grey;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.search{
    height: 50px;
    position: relative;
}

.search .btn{
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 24px;
    background-color: white;
    border: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search .input{
    background-color: white;
    borderL: 0;
    font-size: 18px;
    height: 50px;
    width: 50px;
    padding: 15px;
    box-sizing: border-box;
    transition: width 0.3s ease;
}

.search .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}


.search.active .btn {
    transform: translateX(198px)
}
