@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');



body {
    background-color: rgb(161,100,223);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    color: rgb(255,255,255);
    cursor: pointer;
    font-family: "Mulish", sans-serif;
}

.btn:hover {
    opacity: 0.8;
}
